<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <app-superadmin-sidebar></app-superadmin-sidebar>
        <div class="layout-page">
            <!-- Navbar -->
            <app-superadmin-header></app-superadmin-header>
            <div class="content-wrapper">
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="card">
                  <div class="d-flex justify-content-between align-items-center">
                    <h4 class="fw-bold   mb-4"><span class="text-muted fw-light">Superadmin /</span> All Offers</h4>
                  </div>
                    <div class="table-responsive text-nowrap">
                      <table class="table table-hover">
                          <thead>
                              <tr class="text-nowrap">
                                  <th>Verification</th>
                                  <th>Offre Name</th>
                                  <th>Offre description</th>
                                  <th>Niveau etude</th>
                                  <th>Type contrat</th>
                                  <th>Type offre</th>
                                  <th>Start date</th>
                                  <th>End date</th>
                                  <th>Duration</th>
                                  <th>Location</th>
                                  <th>Salary</th>
                                  <th>Payed</th>
                                  <th>Completed</th>
                                  <th>Created_at</th>
                                  <th>Updated_At</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of dataArray">
                                    <td>                                <span *ngIf="item.verified== true"
                                        class="badge bg-label-success me-1">{{item.verified}}</span>
                                      <span *ngIf="item.verified == false"
                                        class="badge bg-label-danger me-1">{{item.verified}}</span></td>
                                  <td>{{item.titre_offre}}</td>
                                  <td>{{item.description}}</td>
                                  <td>{{item.niveau_etude}}</td>
                                  <td>{{item.type_contrat}}</td>
                                  <td>{{item.type_offre}}</td>
                                  <td>{{item.start_date}}</td>
                                  <td>{{item.end_date}}</td>
                                  <td>{{item.duration}}</td>
                                  <td>{{item.location}}</td>
                                  <td>{{item.salaire}}</td>
                                  <td>{{item.is_payed}}</td>
                                  <td>{{item.is_completed}}</td>
                                  <td>{{item.updated_at}}</td>
                                  <td>{{item.created_at}}</td>

                                  <td>
                                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                              data-bs-toggle="dropdown">
                                              <i class="bx bx-dots-vertical-rounded"></i>
                                          </button>

                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);"
                                            data-toggle="modal" data-target="#basicModal"
                                            (click)="getdata(item.verified, item.id)"><i class='bx bx-check-shield'></i>
                                            Add Verification</a>
                                              <a class="dropdown-item" href="javascript:void(0);"
                                                  (click)="deleteOffre(item.id)"><i class="bx bx-trash me-1"></i>
                                                  Delete</a>
                                          </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>


          <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">Add  Offre Verification</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="update" #f="ngForm" (ngSubmit)="addverification(f); f.reset()">
                    <div class="form-group">



                      <select class="form-control" id="exampleFormControlSelect1" formControlName="verified"
                        [(ngModel)]="offre.verified" ngModel >
                        <option value="true">Verified Offre</option>

                      </select>




                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

