<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <div class="layout-page">
        <app-employee-header></app-employee-header>
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <body>
              <main class="main">
                <section class="section-box-2">
                  <div class="container">
                    <div class="banner-hero banner-single banner-single-bg">
                      <div class="block-banner text-center">
                        <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2">{{counter}} Job Opportunities</span>
                        Now Available</h3>
                      <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp"
                        data-wow-delay=".1s">Discover 22 exciting job opportunities waiting for you. Join now and
                        unleash your potential in writing, design, marketing, and more. Embrace the freedom of
                        freelancing and say goodbye to traditional office Offre!</div>
                      <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp"
                        data-wow-delay=".2s">
                        <form>
                          <input class="form-input input-keysearch mr-10" type="text" placeholder="Your keyword... ">
                          <button class="btn btn-default btn-find font-sm">Search</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="section-box mt-30">
                <div class="container">
                  <div class="row flex-row-reverse">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-12 float-right">
                      <div class="content-page">
                        <div class="box-filters-job">
                          <div class="row">
                            <div class="col-xl-6 col-lg-5"><span class="text-small text-showing">Showing <strong>by 10
                                </strong>of <strong>{{counter}} </strong>Offre</span></div>
                            <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
                              <div class="display-flex2">
                                <div class="box-border mr-10"><span class="text-sortby">Show:</span>
                                  <div class="dropdown dropdown-sort">
                                    <button class="btn dropdown-toggle" id="dropdownSort" type="button"
                                      data-bs-toggle="dropdown" aria-expanded="false"
                                      data-bs-display="static"><span>12</span><i
                                        class="fi-rr-angle-small-down"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort">
                                      <li><a class="dropdown-item active" href="#">10</a></li>
                                      <li><a class="dropdown-item" href="#">25</a></li>
                                      <li><a class="dropdown-item" href="#">100</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="box-border"><span class="text-sortby">Sort by:</span>
                                  <div class="dropdown dropdown-sort">
                                    <button class="btn dropdown-toggle" id="dropdownSort2" type="button"
                                      data-bs-toggle="dropdown" aria-expanded="false"
                                      data-bs-display="static"><span>Newest Post</span><i
                                        class="fi-rr-angle-small-down"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort2">
                                      <li><a class="dropdown-item active" href="#">Newest Post</a></li>
                                      <li><a class="dropdown-item" href="#">Oldest Post</a></li>
                                      <li><a class="dropdown-item" href="#">Rating Post</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="box-view-type">
                                  <a class="view-type" href="jobs-grid.html">
                                    <img src="assets/imgs/template/icons/icon-grid-hover.svg" alt="jobBox">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row display-list">
                          <div class="col-xl-12 col-12" *ngFor="let item of dataArray">
                            <div class="card-grid-2 hover-up"><span *ngIf="item.verified" class="flash"></span>
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="card-grid-2-image-left">
                                    <div class="image-box"><img src="{{item.user.user_image_url}}" width="50"
                                        alt="jobBox"></div>
                                    <div class="right-info"><a class="name-job"
                                        [routerLink]="['/offre-job-details',item.id]"> {{item.user.lastname}}
                                        {{item.user.firstname}}</a><span
                                        class="location-small">{{item.user.adress}}</span></div>
                                  </div>
                                </div>
                                <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                  <div class="pl-15 mb-15 mt-30">
                                    <a class="btn btn-grey-small mr-5" href="#"
                                      *ngFor="let offreCategory of item.offre_categories">
                                      {{ offreCategory.souscategorie.sous_categorie_name }}
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="card-block-info">
                                <h4><a href="job-details.html">{{item.titre_offre}}</a></h4>
                                <div class="mt-5"><span class="card-briefcase">{{item.type_contrat}}</span></div>
                                <p class="font-sm color-text-paragraph mt-10">{{item.description}}</p>
                                <div class="card-2-bottom mt-20">
                                  <div class="row">
                                    <div class="col-lg-7 col-7"><span class="card-text-price">{{item.salaire}}
                                        TND</span><span class="text-muted">/Month</span></div>
                                    <div class="col-lg-5 col-5 text-end">
                                      <div class="btn btn-apply-now" data-bs-toggle="modal"
                                        data-bs-target="#ModalApplyJobForm" (click)="addrequest(item.id)">Apply now
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="paginations">
                        <ul class="pager">
                          <li><a class="pager-prev" href="#"></a></li>
                          <li><a class="pager-number" href="#">1</a></li>
                          <li><a class="pager-number" href="#">2</a></li>
                          <li><a class="pager-number" href="#">3</a></li>
                          <li><a class="pager-number" href="#">4</a></li>
                          <li><a class="pager-number" href="#">5</a></li>
                          <li><a class="pager-number active" href="#">6</a></li>
                          <li><a class="pager-number" href="#">7</a></li>
                          <li><a class="pager-next" href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                      <div class="sidebar-shadow none-shadow mb-30">
                        <div class="sidebar-filters">
                          <div class="filter-block head-border mb-30">
                            <h5>Advance Filter</h5>
                          </div>
                          <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                              <select class="form-control" id="exampleFormControlSelect1" formControlName="domain_id" name="id">
                                <option  hidden value="" selected> select your Domain </option>
                                <option *ngFor=" let item of dataArray2 " change="" [value]="item.id"> {{item.domain_name}}</option>
                              </select>
                                <i class='bx bx-filter'></i>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </main>
            <footer class="footer mt-50">
              <div class="container">
                <div class="row">
                  <div class="footer-col-1 col-md-3 col-sm-12"><a href="index.html"><img alt="jobBox"
                        src="assets/imgs/template/jobhub-logo.svg"></a>
                    <div class="mt-20 mb-20 font-xs color-text-paragraph-2">JobBox is the heart of the design community
                      and the best resource to discover and connect with designers and Offre worldwide.</div>
                    <div class="footer-social"><a class="icon-socials icon-facebook" href="#"></a><a
                        class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-linkedin"
                        href="#"></a></div>
                  </div>
                  <div class="footer-col-2 col-md-2 col-xs-6">
                    <h6 class="mb-20">Resources</h6>
                    <ul class="menu-footer">
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Our Team</a></li>
                      <li><a href="#">Products</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                  <div class="footer-col-3 col-md-2 col-xs-6">
                    <h6 class="mb-20">Community</h6>
                    <ul class="menu-footer">
                      <li><a href="#">Feature</a></li>
                      <li><a href="#">Pricing</a></li>
                      <li><a href="#">Credit</a></li>
                      <li><a href="#">FAQ</a></li>
                    </ul>
                  </div>
                  <div class="footer-col-4 col-md-2 col-xs-6">
                    <h6 class="mb-20">Quick links</h6>
                    <ul class="menu-footer">
                      <li><a href="#">iOS</a></li>
                      <li><a href="#">Android</a></li>
                      <li><a href="#">Microsoft</a></li>
                      <li><a href="#">Desktop</a></li>
                    </ul>
                  </div>
                  <div class="footer-col-5 col-md-2 col-xs-6">
                    <h6 class="mb-20">More</h6>
                    <ul class="menu-footer">
                      <li><a href="#">Privacy</a></li>
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Terms</a></li>
                      <li><a href="#">FAQ</a></li>
                    </ul>
                  </div>
                  <div class="footer-col-6 col-md-3 col-sm-12">
                    <h6 class="mb-20">Download Our App</h6>
                    <p class="color-text-paragraph-2 font-xs">Enhance Your Experience! Download our app now for seamless
                      browsing, personalized recommendations, and access to a wide range of Offre. Get the app today!
                    </p>
                    <div class="mt-15"><a class="mr-5" href="#"><img src="assets/imgs/template/icons/app-store.png"
                          alt="joxBox"></a><a href="#"><img src="assets/imgs/template/icons/android.png"
                          alt="joxBox"></a></div>
                  </div>
                </div>
                <div class="footer-bottom mt-50">
                  <div class="row">
                    <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright &copy; 2023. JobBox all
                        right reserved</span></div>
                    <div class="col-md-6 text-md-end text-start">
                      <div class="footer-social"><a class="font-xs color-text-paragraph" href="#">Privacy Policy</a><a
                          class="font-xs color-text-paragraph mr-30 ml-30" href="#">Terms &amp; Conditions</a><a
                          class="font-xs color-text-paragraph" href="#">Security</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </body>
        </div>
      </div>
    </div>
  </div>
</div>