<header class="header sticky-bar">
  <div class="container">
    <div class="main-header">
      <div class="header-left">
        <div class="header-logo"><a class="d-flex" href="index.html"><img alt="jobBox"
              src="./assets/imgs/template/jobhub-logo.svg"></a></div>
      </div>
      <div class="header-nav">
        <nav class="nav-main-menu">
          <ul class="main-menu">
            <li><a class="active" href="aa.html">Dashboard</a></li>
            <li><a href="">My Condidatures</a></li>
            <li class="has-children"><a href="">My Offres</a>
              <ul class="sub-menu">
                <li><a href="blog-grid.html">In Progress ..</a></li>
                <li><a href="blog-grid-2.html">Ended Offres</a></li>
              </ul>
            </li>
            <li><a href="aa.html">My favorite list</a></li>
            <li><a href="aa.html">Profil to Others</a></li>
            <li class="has-children"><a href="">enrich profile</a>
              <ul class="sub-menu">
                <li><a href="blog-grid.html">My certifications</a></li>
                <li><a href="blog-grid.html">My Training</a></li>
                <li><a href="blog-grid.html">My Experiences</a></li>
                <li><a href="blog-grid.html">My linguistic knowledge</a></li>
                <li><a href="blog-grid.html">My SKills</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span
            class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
      </div>
      <div class="header-right">
        <div class="block-signin">
          <div class="header-logo" class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="d-flex" href="javascript:void(0);" data-bs-toggle="dropdown"><img alt="jobBox"
                src="./assets/admin/img/avatars/1.png" class="w-px-40 h-auto rounded-circle"></a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar avatar-online">
                        <img src="./assets/admin/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <span class="fw-semibold d-block">John Doe</span>
                      <small class="text-muted">Admin</small>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bx bx-user me-2"></i>
                  <span class="align-middle">My Profile</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bx bx-cog me-2"></i>
                  <span class="align-middle">Settings</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                    <span class="flex-grow-1 align-middle">Billing</span>
                    <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                  </span>
                </a>
              </li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <li>
                <a class="dropdown-item" href="auth-login-basic.html">
                  <i class="bx bx-power-off me-2"></i>
                  <span class="align-middle">Log Out</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>