<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <app-intern-header></app-intern-header>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card">
                        <div class="d-flex justify-content-between align-items-center">
                          <h4 class="fw-bold   mb-4"> My Experiences ({{counter}})</h4>
                          <div>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#backDropModal" class="btn btn-primary">Add
                              Experience</button>
                          </div>
                        </div>
                        <div class="table-responsive  text-nowrap">
                            <table class="table table-hover">
                              <thead>
                                <tr class="text-nowrap">
                                  <th>entreprise </th>
                                  <th>Position Held</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of dataArray| paginate: { itemsPerPage: 5, currentPage: p } ">
                                  <td>{{item.entreprise}}</td>
                                  <td>{{item.position_held}}</td>
                                  <td>{{item.start_date}}</td>
                                  <td>{{item.end_date}}</td>
                                  <td class="action-cell">
                                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="getdata(item.entreprise,item.position_held,item.start_date,item.end_date,item.id)" data-toggle="modal"
                                          data-target="#basicModal" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i>
                                          Edit</a>
                                        <a class="dropdown-item" (click)="deleteExperience(item.id)" href="javascript:void(0);"><i
                                            class="bx bx-trash me-1"></i>
                                          Delete</a>
                                      </div>
                                  </td>
                                </tr>
                                <tr *ngIf="dataArray.length === 0">
                                  <td colspan="5">
                                    <div class="empty-table-message">No Data Found</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div style="text-align:right;">
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                            <div class="mt-3">
                                <!-- Modal -->
                                <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
                                  <div class="modal-dialog">
                                    <form class="modal-content" [formGroup]="addExperience" #f="ngForm"
                                      (ngSubmit)="addnewExperience (f); f.reset()">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="backDropModalTitle">Add New Experience</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="row">
                                          <div class="col mb-3">
                                            <label for="nameBackdrop" class="form-label">Experience Name</label>
                                            <input type="text" id="nameBackdrop" class="form-control" name="entreprise"
                                              class="form-control" formControlName="entreprise" placeholder="Enter Experience Name" />
                                            <label for="nameBackdrop" class="form-label">Position Held </label>
                                            <input type="text" id="nameBackdrop" class="form-control" name="position_held"
                                              class="form-control" formControlName="position_held" placeholder="Enter Position Held" />
                                            <label for="nameBackdrop" class="form-label">Start Date </label>
                                            <input type="date" id="nameBackdrop" class="form-control" name="start_date"
                                              class="form-control" formControlName="start_date" placeholder="Enter Date" />
                                              <label for="nameBackdrop" class="form-label">End Date </label>
                                            <input type="date" id="nameBackdrop" class="form-control" name="end_date"
                                              class="form-control" formControlName="end_date" placeholder="Enter Date" />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                          Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                  </div>
                  <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Update Experience</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="update" #f="ngForm" (ngSubmit)="updateExperience(f); f.reset()">
                              <div class="form-group">
                                <label for="exampleFormControlInput1">Entreprise Name </label>
                                <input type="text" formControlName="entreprise" [(ngModel)]="dataExperience.entreprise" ngModel
                                  class="form-control" required>
                                <label for="exampleFormControlInput1">Position Held </label>
                                <input type="text" formControlName="position_held" [(ngModel)]="dataExperience.position_held" ngModel
                                    class="form-control" required>
                                <label for="exampleFormControlInput1">Start Date </label>
                                <input type="date"  formControlName="start_date" [(ngModel)]="dataExperience.start_date" ngModel
                                    class="form-control" required>
                                <label for="exampleFormControlInput1">End Date </label>
                                <input type="date"   formControlName="end_date" [(ngModel)]="dataExperience.end_date" ngModel
                                    class="form-control" required>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>








