<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <app-intern-header></app-intern-header>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card">
                        <div class="d-flex justify-content-between align-items-center">
                          <h4 class="fw-bold   mb-4"> My Trainings ({{counter}})</h4>
                          <div>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#backDropModal" class="btn btn-primary">Add
                              Training</button>
                          </div>
                        </div>
                        <div class="table-responsive  text-nowrap">
                            <table class="table table-hover">
                              <thead>
                                <tr class="text-nowrap">
                                  <th>Level Of Study</th>
                                  <th>Diplome</th>
                                  <th>Remarques</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>School</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of dataArray| paginate: { itemsPerPage: 5, currentPage: p } ">
                                  <td>{{item.niveau_etude}}</td>
                                  <td>{{item.diplome}}</td>
                                  <td>{{item.description}}</td>
                                  <td>{{item.date_debut}}</td>
                                  <td>{{item.date_fin}}</td>
                                  <td>{{item.ecole}}</td>
                                  <td class="action-cell">
                                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="getdata(item.diplome,item.description,item.date_debut,item.date_fin,item.ecole,item.niveau_etude,item.id)" data-toggle="modal"
                                          data-target="#basicModal" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i>
                                          Edit</a>
                                        <a class="dropdown-item" (click)="deleteTraining(item.id)" href="javascript:void(0);"><i
                                            class="bx bx-trash me-1"></i>
                                          Delete</a>
                                      </div>
                                  </td>
                                </tr>
                                <tr *ngIf="dataArray.length === 0">
                                  <td colspan="5">
                                    <div class="empty-table-message">No Data Found</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div style="text-align:right;">
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                            <div class="mt-3">
                                <!-- Modal -->
                                <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
                                  <div class="modal-dialog">
                                    <form class="modal-content" [formGroup]="addTraining" #f="ngForm"
                                      (ngSubmit)="addnewTraining (f); f.reset()">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="backDropModalTitle">Add New Training</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="row">
                                          <div class="col mb-3">
                                            <div class="mb-3">
                                              <label class="form-label" for="basic-icon-default-company">Level of Study</label>
                                              <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-company2" class="input-group-text"><i
                                                    class="bx bx-buildings"></i></span>
                                                <select class="form-control" id="exampleFormControlSelect1" formControlName="niveau_etude"
                                                  name="niveau_etude" placeholder="Select a level of study...">
                                                  <option value="MoinsBac">Without Bac</option>
                                                  <option value="Bac">BAC</option>
                                                  <option value="Bac+1">BAC +1</option>
                                                  <option value="Bac+2">BAC +2</option>
                                                  <option value="Bac+3">BAC +3</option>
                                                  <option value="Bac+4">BAC +4</option>
                                                  <option value="Bac+5">BAC +5</option>
                                                  <option value="Mastere">Master</option>
                                                  <option value="Ingenieur">Engeneer</option>
                                                  <option value="PlusqueBac+5">More then Bac +5</option>
                                                  <option value="Formation">Formation</option>
                                                  <option value="Autre">Others</option>
                                                </select>
                                              </div>
                                            </div>
                                            <label for="nameBackdrop" class="form-label">Diplome</label>
                                            <input type="text" id="nameBackdrop" class="form-control" name="diplome"
                                              class="form-control" formControlName="diplome" placeholder="Enter Name" />
                                            <label for="nameBackdrop" class="form-label">Remarques </label>
                                            <input type="text" id="nameBackdrop" class="form-control" name="description"
                                              class="form-control" formControlName="description" placeholder="Enter Remarques" />
                                            <label for="nameBackdrop" class="form-label">Start Date </label>
                                            <input type="date" id="nameBackdrop" class="form-control" name="date_debut"
                                              class="form-control" formControlName="date_debut" placeholder="Enter Date" />
                                              <label for="nameBackdrop" class="form-label">End Date </label>
                                            <input type="date" id="nameBackdrop" class="form-control" name="date_fin"
                                              class="form-control" formControlName="date_fin" placeholder="Enter Date" />
                                            <label for="nameBackdrop" class="form-label">School</label>
                                                <input type="text" id="nameBackdrop" class="form-control" name="ecole"
                                                  class="form-control" formControlName="ecole" placeholder="Enter School Name" />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                          Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                  </div>
                  <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Update Training</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="update" #f="ngForm" (ngSubmit)="updateTraining(f); f.reset()">
                              <div class="form-group">
                                <label for="exampleFormControlInput1">Level Of Study</label>
                                <select class="form-control" id="exampleFormControlSelect1"  [(ngModel)]="dataTrain.niveau_etude" formControlName="niveau_etude"
                                name="niveau_etude" placeholder="Select a level of study...">
                                <option value="MoinsBac">Without Bac</option>
                                <option value="Bac">BAC</option>
                                <option value="Bac+1">BAC +1</option>
                                <option value="Bac+2">BAC +2</option>
                                <option value="Bac+3">BAC +3</option>
                                <option value="Bac+4">BAC +4</option>
                                <option value="Bac+5">BAC +5</option>
                                <option value="Mastere">Master</option>
                                <option value="Ingenieur">Engeneer</option>
                                <option value="PlusqueBac+5">More then Bac +5</option>
                                <option value="Formation">Formation</option>
                                <option value="Autre">Others</option>
                              </select>
                                <label for="exampleFormControlInput1">Diplome </label>
                                <input type="text" formControlName="diplome" [(ngModel)]="dataTrain.diplome" ngModel
                                  class="form-control" required>
                                <label for="exampleFormControlInput1">Remarques </label>
                                <input type="text" formControlName="description" [(ngModel)]="dataTrain.description" ngModel
                                    class="form-control" required>
                                <label for="exampleFormControlInput1">Start Date </label>
                                <input type="date"  formControlName="date_debut" [(ngModel)]="dataTrain.date_debut" ngModel
                                    class="form-control" required>
                                <label for="exampleFormControlInput1">End Date </label>
                                <input type="date"   formControlName="date_fin" [(ngModel)]="dataTrain.date_fin" ngModel
                                    class="form-control" required>
                                <label for="exampleFormControlInput1">School </label>
                                <input type="text" formControlName="ecole" [(ngModel)]="dataTrain.ecole" ngModel
                                    class="form-control" required>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>

                </div>
            </div>
