<header class="header sticky-bar">
    <div class="container">
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo"><a class="d-flex" href="index.html"><img alt="jobBox"
                src="./assets/imgs/template/jobhub-logo.svg"></a></div>
        </div>
        <div class="header-nav">
          <nav class="nav-main-menu">
            <ul class="main-menu">
              <li><a class="active" routerLink="/employee">Dashboard</a></li>
              <li><a routerLink="/employee-condidatures" class="menu-link">My Condidatures</a></li>
              <li><a routerLink="/employee-favorite-list" class="menu-link">My favorite list</a></li>
              <li><a [routerLink]="['/employee-profil-to-others',userdata.id]" class="menu-link">Profil to Others</a></li>
              <li class="has-children"><a>enrich profile</a>
                <ul class="sub-menu">
                  <li><a routerLink="/employee-certifications" class="menu-link">My certifications</a></li>
                  <li><a routerLink="/employee-training" class="menu-link" class="menu-link">My Training</a></li>
                  <li><a routerLink="/employee-experiences" class="menu-link">My Experiences</a></li>
                  <li><a routerLink="/employee-linguistic-knowledge" class="menu-link">My linguistic knowledge</a></li>
                  <li><a routerLink="/employee-skills" class="menu-link">My SKills</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span
              class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
        </div>
        <div class="header-right">
          <div class="block-signin">
            <div class="header-logo" class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="d-flex" href="javascript:void(0);" data-bs-toggle="dropdown"><img alt="jobBox"
                [src]="userdata.user_image_url" class="w-px-40 h-auto rounded-circle"></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img [src]="userdata.user_image_url" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">{{userdata.lastname}} {{userdata.firstname}}</span>
                        <small class="text-muted">{{userdata.role}}</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/edit-employee">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>